<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WNData.Properties.Settings.LocalConnectionStringData"
            connectionString="Data Source=ISRHAEL-PC\SQLEXPRESS;Initial Catalog=dbWINNotch;persist security info=True;Integrated Security=SSPI;Connect Timeout=20"
            providerName="System.Data.SqlClient" />
        <add name="WNData.Properties.Settings.dbWINNotchConnectionString"
            connectionString="Data Source=ISRHAEL-PC\SQLEXPRESS;Initial Catalog=dbWINNotch;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>